{% extends "base.html" %}
{% block title %}Sprawdź geolokalizację{% endblock %}

{% block content %}
{% load static %}

<br/>
<br/>

<div class="row">

    <div class="col-sm-6 col-sm-offset-3">

        <form class="border border-light p-5" method="GET" action="{% url 'ip-geolocation' %}">

            <div class="form-group">
                <div class="form-group">
                  <input type="text" class="form-control"
                         placeholder="Paste IP or URL address and get geolocation"
                         id="geolocation"
                         name="ip"
                  >
                </div>
                <small>Your IP:
                    <b>
                        {% if ip != '' %}
                            {{ ip }}
                        {% else %}
                            Can't find IP
                        {% endif %}
                    </b>
                </small>
			</div>
            <button type="submit" class="btn btn-primary">
                Check geolocation
            </button>
            <br>

        </form>

    </div>
</div>

{% endblock %}